body {
    background-color: bisque;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#survey-form {
    background-color: rgb(230, 230, 230);
    width: 750px;
    margin: 0 auto;
}

.labels{
    display: inline-block;
    text-align: right;
    padding: 8px;
    margin-top: 10px;
}

.role{
    margin: 15px;
}

li {
    list-style: none;
}

.options {
    display: inline-block;
    width: 45%;
    margin: 0 auto;
    text-align: left;
}

.text {
    display: inline-block;
    width: 45%;
    margin: 0 auto;
    text-align: right;
    padding: 0 10px;
    vertical-align: top;
    margin: 8px;
}